@charset "utf-8";

#wrap{
    width: 100%;
    max-width: 568px;
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
}
.title{
    margin-bottom: 30px;
}
.title h1{
    text-align: center;
    margin-bottom: 20px;
}
.signForm{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.signForm ul{
    width: 100%;
}
.signForm .box{
    height: 30px;
    margin: 10px 0;
}
